---
layout: default
description: Techverse is a technical club in Pune. We are a group of tech enthusiasts who are passionate about technology and its applications.
title: 404 Error - TechVerse
---
<!-- include header -->
{% include navbar.html %}
<!-- content  -->
    
<!-- 404 Start -->
<div class="container-xxl py-6 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                <h1 class="display-1">404</h1>
                <h1 class="mb-4">Page Not Found</h1>
                <p class="mb-4">We're sorry, the page you have looked for does not exist on our website! Maybe go to
                    our Home page</p>
                <a class="btn btn-primary py-3 px-5" href="/">Go Back To Home</a>
            </div>
        </div>
    </div>
</div>
<!-- 404 End -->
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
<!-- JS -->
<script type="module">
    import { backend_url, setLoading, offLoading } from '/js/script.js';
    window.onload = async () => { offLoading(); };
</script>
<!-- include footer -->
{% include footer.html %}