---
layout: default
description: Techverse is a technical club in Pune. We are a group of tech enthusiasts who are passionate about technology and its applications.
title: Events | Techverse
---
<!-- include header -->
{% include navbar.html %}
<!-- content  -->
<!-- Page Header Start -->
<div class="container-fluid page-header-events py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <h1 class="display-4 text-white animated slideInDown mb-4">Events</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
                <!-- <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li> -->
                <li class="breadcrumb-item text-primary active" aria-current="page">Events</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Courses Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 80%;">
            <h6 class="text-primary text-uppercase mb-2">Upcoming Events</h6>
            <h1 class="display-6 mb-4">Our Events to Upskill You</h1>
        </div>
        <div id="upcoming_events" class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="courses-item d-flex flex-column bg-light overflow-hidden h-100">
                    <div class="text-center p-4 pt-0">
                        <div class="d-inline-block text-white fs-5 py-1 px-4 mb-4">
                            <span class="loading-skeleton">Loading Domain</span>
                        </div>
                        <h5 class="mb-3"><span class="loading-skeleton">Loading Title</span></h5>
                        <p><span class="loading-skeleton">Loading Description <br> Loading Description<br> </span></p>
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item small"><span class="loading-skeleton">Loading Location</span>
                            </li>
                            <li class="breadcrumb-item small"><span class="loading-skeleton">Loading DateTime</span>
                            </li>
                        </ol>
                    </div>
                    <div class="position-relative mt-auto mx-auto" style="width: 86%; height: 200px;">
                        <span class="loading-skeleton">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="courses-item d-flex flex-column bg-light overflow-hidden h-100">
                    <div class="text-center p-4 pt-0">
                        <div class="d-inline-block text-white fs-5 py-1 px-4 mb-4">
                            <span class="loading-skeleton">Loading Domain</span>
                        </div>
                        <h5 class="mb-3"><span class="loading-skeleton">Loading Title</span></h5>
                        <p><span class="loading-skeleton">Loading Description <br> Loading Description<br> </span></p>
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item small"><span class="loading-skeleton">Loading Location</span>
                            </li>
                            <li class="breadcrumb-item small"><span class="loading-skeleton">Loading DateTime</span>
                            </li>
                        </ol>
                    </div>
                    <div class="position-relative mt-auto mx-auto" style="width: 86%; height: 200px;">
                        <span class="loading-skeleton">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="courses-item d-flex flex-column bg-light overflow-hidden h-100">
                    <div class="text-center p-4 pt-0">
                        <div class="d-inline-block text-white fs-5 py-1 px-4 mb-4">
                            <span class="loading-skeleton">Loading Domain</span>
                        </div>
                        <h5 class="mb-3"><span class="loading-skeleton">Loading Title</span></h5>
                        <p><span class="loading-skeleton">Loading Description <br> Loading Description<br> </span></p>
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item small"><span class="loading-skeleton">Loading Location</span>
                            </li>
                            <li class="breadcrumb-item small"><span class="loading-skeleton">Loading DateTime</span>
                            </li>
                        </ol>
                    </div>
                    <div class="position-relative mt-auto mx-auto" style="width: 86%; height: 200px;">
                        <span class="loading-skeleton">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Courses End -->
<!-- Courses Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 80%;">
            <h6 class="text-primary text-uppercase mb-2">Past Events</h6>
            <h1 class="display-6 mb-4">See Past Events Don't Forgot To Register for Our Upcoming Events First</h1>
        </div>
        <div id="past_events" class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="courses-item d-flex flex-column bg-light overflow-hidden h-100">
                    <div class="text-center p-4 pt-0">
                        <div class="d-inline-block text-white fs-5 py-1 px-4 mb-4">
                            <span class="loading-skeleton">Loading Domain</span>
                        </div>
                        <h5 class="mb-3"><span class="loading-skeleton">Loading Title</span></h5>
                        <p><span class="loading-skeleton">Loading Description <br> Loading Description<br> </span></p>
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item small"><span class="loading-skeleton">Loading Location</span>
                            </li>
                            <li class="breadcrumb-item small"><span class="loading-skeleton">Loading DateTime</span>
                            </li>
                        </ol>
                    </div>
                    <div class="position-relative mt-auto mx-auto" style="width: 86%; height: 200px;">
                        <span class="loading-skeleton">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="courses-item d-flex flex-column bg-light overflow-hidden h-100">
                    <div class="text-center p-4 pt-0">
                        <div class="d-inline-block text-white fs-5 py-1 px-4 mb-4">
                            <span class="loading-skeleton">Loading Domain</span>
                        </div>
                        <h5 class="mb-3"><span class="loading-skeleton">Loading Title</span></h5>
                        <p><span class="loading-skeleton">Loading Description <br> Loading Description<br> </span></p>
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item small"><span class="loading-skeleton">Loading Location</span>
                            </li>
                            <li class="breadcrumb-item small"><span class="loading-skeleton">Loading DateTime</span>
                            </li>
                        </ol>
                    </div>
                    <div class="position-relative mt-auto mx-auto" style="width: 86%; height: 200px;">
                        <span class="loading-skeleton">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="courses-item d-flex flex-column bg-light overflow-hidden h-100">
                    <div class="text-center p-4 pt-0">
                        <div class="d-inline-block text-white fs-5 py-1 px-4 mb-4">
                            <span class="loading-skeleton">Loading Domain</span>
                        </div>
                        <h5 class="mb-3"><span class="loading-skeleton">Loading Title</span></h5>
                        <p><span class="loading-skeleton">Loading Description <br> Loading Description<br> </span></p>
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item small"><span class="loading-skeleton">Loading Location</span>
                            </li>
                            <li class="breadcrumb-item small"><span class="loading-skeleton">Loading DateTime</span>
                            </li>
                        </ol>
                    </div>
                    <div class="position-relative mt-auto mx-auto" style="width: 86%; height: 200px;">
                        <span class="loading-skeleton">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Courses End -->
<script type="module">
    import { backend_url, setLoading, offLoading } from '/js/script.js';
    async function getActiveEvents() {
        var url = backend_url + "/api/active_events";
        var response = await fetch(url);
        var data = await response.json();
        var upcoming_events = document.getElementById("upcoming_events");
        upcoming_events.innerHTML = "";
        // console.log(data);
        if (data.length == 0) {
            upcoming_events.innerHTML = "<h1 class='text-center'>No Upcoming Events</h1>";
            return;
        } else {
            data.forEach(function (event) {
                // Create a new div
                var newDiv = document.createElement('div');
                newDiv.className = 'col-lg-4 col-md-6 wow fadeInUp';
                newDiv.dataset.wowDelay = '0.1s';
                // Add the HTML with the event data
                newDiv.innerHTML = `
                    <div class="courses-item d-flex flex-column bg-light overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">${event.domain}</div>
                            <h5 class="mb-3">${event.title}</h5>
                            <p>${event.description}</p>
                            <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small"><i class="fa fa-location-arrow text-primary me-2"></i>${event.venue}</li>
                                <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-primary me-2"></i>${new Date(event.event_date_time).toLocaleString()}</li>
                            </ol>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="${backend_url + event.event_poster}" alt="Event Poster">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" href="/events/active/event.html?event=${event.ref_id}">Register Now</a>
                            </div>
                        </div>
                    </div>`;
                // on click on new div redirect to event page
                newDiv.onclick = function () {
                    window.location.href = "/events/active/event.html?event=" + event.ref_id;
                };
                // Append the new div to the container
                upcoming_events.appendChild(newDiv);
            });
        }
    }
    async function getPastEvents() {
        var url = backend_url + "/api/past_events";
        var response = await fetch(url);
        var data = await response.json();
        var past_events = document.getElementById("past_events");
        past_events.innerHTML = "";
        // console.log(data);
        if (data.length == 0) {
            past_events.innerHTML = "<h1 class='text-center'>No Past Events</h1>";
            return;
        } else {
            data.forEach(function (event) {
                // Create a new div
                var newDiv = document.createElement('div');
                newDiv.className = 'col-lg-4 col-md-6 wow fadeInUp';
                newDiv.dataset.wowDelay = '0.1s';
                // Add the HTML with the event data
                newDiv.innerHTML = `
                    <div class="courses-item d-flex flex-column bg-light overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">${event.domain}</div>
                            <h5 class="mb-3">${event.title}</h5>
                            <p>${event.description}</p>
                            <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small"><i class="fa fa-location-arrow text-primary me-2"></i>${event.venue}</li>
                                <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-primary me-2"></i>${new Date(event.event_date_time).toLocaleString()}</li>
                            </ol>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="${backend_url + event.event_poster}" alt="Event Poster">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" href="/events/past/event.html?event=${event.ref_id}">See Details</a>
                            </div>
                        </div>
                    </div>`;
                // on click on new div redirect to event page
                newDiv.onclick = function () {
                    window.location.href = "/events/past/event.html?event=" + event.ref_id;
                };
                // Append the new div to the container
                past_events.appendChild(newDiv);
            });
        }
    }
    document.getElementById("nav-events").classList.add("active");
    window.onload = async () => {
        await getActiveEvents();
        await getPastEvents();
        offLoading();
    };
</script>
<!-- include footer -->
{% include footer.html %}