---
layout: default
description: Techverse is a technical club in Pune. We are a group of tech enthusiasts who are passionate about technology and its applications.
title: Team | Techverse
---
<!-- include header -->
{% include navbar.html %}
<!-- content  -->
<!-- Page Header Start -->
<div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <h1 class="display-4 text-white animated slideInDown mb-4">Our Team</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
                <!-- <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li> -->
                <li class="breadcrumb-item text-primary active" aria-current="page">Our Team</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Team Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h6 class="text-primary text-uppercase mb-2">Meet The Team</h6>
            <h1 class="display-6 mb-4">The Brilliant Minds Of Techverse</h1>
        </div>
        <div class="row g-0 team-items">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/Team/Mali.jpg" alt="Akhilesh Mali">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://www.linkedin.com/in/akhilesh-mali/"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://twitter.com/light_of_life_2"><i
                                    class="fa-brands fa-x-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://www.instagram.com/maliakhikesh/"><i
                                    class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Akhilesh Mali</h5>
                        <span>Lead</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/Team/Warade.jpg" alt="Kaustubh Warade">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://www.linkedin.com/in/kaustubh-warade/"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://twitter.com/KaustubhWarade"><i
                                    class="fa-brands fa-x-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://www.instagram.com/kaustubhwarade/"><i
                                    class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Kaustubh Warade</h5>
                        <span>Secretary</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/Team/Sable.jpg" alt="Prathamesh Sable">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://www.linkedin.com/in/prathamesh-sable/"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://twitter.com/prathamesh_ks"><i
                                    class="fa-brands fa-x-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://www.instagram.com/prathamesh.ks/"><i
                                    class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Prathamesh Sable</h5>
                        <span>Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/Team/Bhise.jpg" alt="Aditya Bhise">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://www.linkedin.com/in/aditya-bhise-69b44a254"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://twitter.com/Adi7ya_SB"><i
                                    class="fa-brands fa-x-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://www.instagram.com/adxtya17/"><i
                                    class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Aditya Bhise</h5>
                        <span>Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/Team/Sayyad.jpg" alt="Amaan Sayyad">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://www.linkedin.com/in/amaan-sayyad-06139124a/"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            <!-- <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i
                                    class="fa-brands fa-x-twitter"></i></a> -->
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://www.instagram.com/amaansayyad213/"><i
                                    class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Amaan Sayyad</h5>
                        <span>Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/Team/Mugdha.jpg" alt="Mugdha Arwind">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://www.linkedin.com/in/mugdha-arvind-490a1b231"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            <!-- <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i
                                    class="fa-brands fa-x-twitter"></i></a> -->
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://www.instagram.com/mugdha_arvind/"><i
                                    class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Mugdha Arwind</h5>
                        <span>Event</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/Team/Krunal.jpg" alt="Krunal Changan">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://www.linkedin.com/in/krunal-changan-276b35231"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            <!-- <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i
                                    class="fa-brands fa-x-twitter"></i></a> -->
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://www.instagram.com/krunalchangan/"><i
                                    class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Krunal Changan</h5>
                        <span>Finance</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/Team/Talaksha.jpg" alt="Talaksha Chavan">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://www.linkedin.com/in/talaksha-chavan-421743231"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            <!-- <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i
                                    class="fa-brands fa-x-twitter"></i></a> -->
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://www.instagram.com/talaksha_28/"><i
                                    class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Talaksha Chavan</h5>
                        <span>Socials</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/Team/Sampada.jpg" alt="Sampada Aghav">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://www.linkedin.com/in/sampada-aghav-85a7a1231"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://twitter.com/AghavSampada"><i
                                    class="fa-brands fa-x-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://www.instagram.com/_sampada349_/"><i
                                    class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Sampada Aghav</h5>
                        <span>Socials</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/Team/Sharmishtha.jpg" alt="Sharmishtha Satturwar">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://www.linkedin.com/in/sharmishtha-satturwar-640b9622b"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            <!-- <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i
                                    class="fa-brands fa-x-twitter"></i></a> -->
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://www.instagram.com/sharmishtha_19/"><i
                                    class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Sharmishtha Satturwar</h5>
                        <span>Socials</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/Team/Megha.jpg" alt="Megha">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://www.linkedin.com/in/megha-79a744231"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            <!-- <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i
                                    class="fa-brands fa-x-twitter"></i></a> -->
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://www.instagram.com/meghaaaaa._/"><i
                                    class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Megha</h5>
                        <span>PR</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/Team/Atharva.jpg" alt="Atharva Gawade">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://www.linkedin.com/in/atharva-gawade-347736231"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            <!-- <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i
                                    class="fa-brands fa-x-twitter"></i></a> -->
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://www.instagram.com/atharva_gawade8/"><i
                                    class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Atharva Gawade</h5>
                        <span>PR</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/Team/Nandani.jpg" alt="Nandani Pajgade">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://www.linkedin.com/in/nandini-pajgade-4a3351230/"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            <!-- <a class="btn btn-square btn-outline-primary border-2 m-1" href="Nandini61342428
                            "><i
                                    class="fa-brands fa-x-twitter"></i></a> -->
                            <a class="btn btn-square btn-outline-primary border-2 m-1" target="_blank" href="https://www.instagram.com/nandini_pajgade/"><i
                                    class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Nandini Pajgade</h5>
                        <span>Community Outreach</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
<!-- JS -->
<script type="module">
    import { backend_url, setLoading, offLoading } from '/js/script.js';
    document.getElementById("nav-team").classList.add("active");
    window.onload = async () => {
        // await setEvent(); 
        offLoading();
    };
</script>
<!-- include footer -->
{% include footer.html %}